<app-page-info pageName="Dashboard"></app-page-info>
<div class="container">
  <div class="insights-wrapper">
    <div class="insight" style="background: rgba(33, 146, 255, 0.2)">
      <ngx-skeleton-loader *ngIf="contentLoaded" count="2" appearance="line"></ngx-skeleton-loader>
      <p class="data" *ngIf="!contentLoaded">1367 <span>rows</span></p>
      <p class="info" *ngIf="!contentLoaded">Total data</p>
    </div>
    <div class="insight" style="background: rgba(166, 255, 0, 0.2)">
      <ngx-skeleton-loader *ngIf="contentLoaded" count="2" appearance="line"></ngx-skeleton-loader>
      <p class="data" *ngIf="!contentLoaded">138</p>
      <p class="info" *ngIf="!contentLoaded">Avg BP sys</p>
    </div>
    <div class="insight" style="background: rgba(255, 184, 76, 0.2)">
      <ngx-skeleton-loader *ngIf="contentLoaded" count="2" appearance="line"></ngx-skeleton-loader>
      <p class="data" *ngIf="!contentLoaded">598</p>
      <p class="info" *ngIf="!contentLoaded">Avg Re [Ohm]</p>
    </div>
    <div class="insight" style="background: rgba(255, 148, 204, 0.2)">
      <ngx-skeleton-loader *ngIf="contentLoaded" count="2" appearance="line"></ngx-skeleton-loader>
      <p class="data" *ngIf="!contentLoaded">23.9</p>
      <p class="info" *ngIf="!contentLoaded">Avg ICW [L]</p>
    </div>
  </div>
  <div class="chart-wrapper">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
