@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';

.page-info-container {
  @include flex(row, space-between, center);
  padding: 40px;

  .page-name {
    font-size: 30px;
    font-weight: 600;
    color: $color-font-dark;
  }

  .current-date {
    font-size: 14px;
    color: $color-font-light;
  }
}
