@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';

.container {
  padding: 40px;
  padding-top: 0;
  .insights-wrapper {
    @include flex(row, space-between, center);
    .insight {
      width: 240px;
      border-radius: 12px;
      background-color: $color-grey-light;
      padding: 48px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);

      .data {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
      }

      .info {
        font-size: 18px;
      }
    }
  }
  .chart-wrapper {
    margin-top: 100px;
    height: 480px;
    border-radius: 12px;
    background-color: $color-grey-light;
    padding: 48px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  }
}
